<section class="quiz js-quiz">
	<figure class="quiz__logo-wrap">
		<img class="quiz__logo" src="assets/images/logo.png" alt="logo">
	</figure>
	<div class="quiz__main-img js-main-img"></div>
	<div class="quiz__wrap js-main-wrap opacity">
		<div class="quiz__body">
			<figure class="quiz__figure js-scroll-cont">
				<img class="quiz__image js-image" src="" alt="question image">
				<div class="quiz__shadow"></div>
			</figure>
			<div class="quiz__question-wrap">
				<h2 class="quiz__statement js-statement"></h2>
				<h3 class="quiz__question js-question"></h3>
				<div class="quiz__arrow-wrap js-arrow">
					<div class="quiz__arrow-line quiz__arrow-line--left"></div>
					<div class="quiz__arrow-line quiz__arrow-line--right"></div>
				</div>
				<p class="quiz__steps js-step2"></p>
				{{> range-slider }}
				<div class="quiz__steps-wrap">
					<p class="quiz__steps js-step1"></p>
					<p class="quiz__steps js-step3"></p>
				</div>
				<button class="quiz__button js-check"  tabindex="0">
					<div class="quiz__button-icon-wrap">
						<img class="quiz__button-icon js-check-icon" src="assets/images/icons/check.png" alt="check icon">
					</div>
				</button>
			</div>
		</div>
		<div class="quiz__status js-status-bar">
		</div>
	</div>
</section>
