//---------- quiz
//------------------------------------------------------------------------------

.quiz {
	width: 100%;
	height: 100vh;
	position: relative;
}
.quiz--brown {
	.quiz__wrap,
	.quiz__status-single  {
		background: $brown;
	}
	.quiz__button {
		background: $button-gradient-1;
	}
	.quiz__button-icon-wrap {
		background: $inner-button-gradient-1;
	}
	.quiz__shadow {
		border-bottom: 100px solid $brown-shadow-1;
	}
	.guiz__outer-square {
		background: $brown;
	}
	.quiz__inner-wrap {
		background: $circle-wrap-gradient-1;
	}
	.quiz__inner-circle {
		background: $circle-gradient-1;
	}
	.quiz__inner-circle-small {
		background: $circle-small-gradient-1;
	}
}
.quiz--brown-2 {
	.quiz__wrap,
	.quiz__status-single  {
		background: $brown-2;
	}
	.quiz__button {
		background: $button-gradient-2;
	}
	.quiz__button-icon-wrap {
		background: $inner-button-gradient-2;
	}
	.quiz__shadow {
		border-bottom: 100px solid $brown-shadow-2;
	}
	.guiz__outer-square {
		background: $brown-2;
	}
	.quiz__inner-wrap {
		background: $circle-wrap-gradient-2;
	}
	.quiz__inner-circle {
		background: $circle-gradient-2;
	}
	.quiz__inner-circle-small {
		background: $circle-small-gradient-2;
	}
	.quiz__question-wrap {
		color: $black;
	}
}
.quiz--brown-3 {
	.quiz__wrap,
	.quiz__status-single {
		background: $brown-3;
	}
	.quiz__shadow {
		border-bottom: 100px solid $brown-shadow-3;
	}
	.quiz__button {
		background: $button-gradient-3;
	}
	.quiz__button-icon-wrap {
		background: $inner-button-gradient-3;
	}
	.guiz__outer-square {
		background: $brown-3;
	}
	.quiz__inner-wrap {
		background: $circle-wrap-gradient-3;
	}
	.quiz__inner-circle {
		background: $circle-gradient-3;
	}
	.quiz__inner-circle-small {
		background: $circle-small-gradient-3;
	}
}
.quiz--down {
	.quiz__question {
		@include media-breakpoint-down(md) {
			font-size: 16px;
			line-height: 24px;
			margin: 9px 0 23px;
		}
	}
	.quiz__shadow {
		@include media-breakpoint-down(md) {
			bottom: 0;
		}
	}
	.quiz__arrow-wrap {
		margin: 0 auto;
	}
	.quiz__arrow-line {
		height: 0;
	}
}
.quiz__main-img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: 0.8s ease-in-out;
	transition-property: opacity;
	z-index: 1;

}
.quiz__figure {
	position: relative;
	width: 60%;
	max-width: 1090px;
	margin: 0 0 28px;
	padding: 0 107px 0 59px;
	transition: 1s ease-in-out;
	transition-property: margin-top;

	@include media-breakpoint-down(xl) {
		max-width: 709px;
		margin: 0 0 48px;
		padding: 0 0 0 16px;
	}
	@include media-breakpoint-down(lg) {
		max-width: 573px;
		margin: 0 0 52px;
		padding: 0 0 0 16px;
	}
	@include media-breakpoint-down(md) {
		width: 100%;
		margin: 80px 0 0;
		padding: 0 12px 0 16px;
	}
	@include media-breakpoint-down(xsm) {
		margin: 124px 0 0;
	}
}
.quiz__image {
	z-index: 42;
	position: relative;
	width: 100%;
}
.quiz__shadow {
	border-left: 75px solid transparent;
	border-right: 73px solid transparent;
	height: 0;
	width: 95%;
	display: block;
	position: absolute;
	bottom: -112px;
	left: 50%;
	transform: translateX(-50%);
	filter: blur(3.43656px);
	z-index: 1;
	transition: 0.4s ease-in-out;
	transition-property: bottom;
	@include media-breakpoint-down(xl) {
		bottom: -76px;
		left: 51%;
	}
	@include media-breakpoint-down(lg) {
		bottom: -64px;
	}
	@include media-breakpoint-down(sm) {
		bottom: -35px;
		width: 87%;
		filter: blur(2.43656px);
	}
}
.quiz__status {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 41px;
	background: $stauts-bg-1;
	width: 100%;
	z-index: 5;
	@include make-between;
	@include media-breakpoint-down(lg) {
		height: 38px;
	}
	@include media-breakpoint-down(sm) {
		height: 22px;
	}
}
.quiz__wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3;
	transition: 0.8s ease-in-out;
	transition-property: opacity;
	@include media-breakpoint-down(sm) {
		height: 100vh;
		overflow: hidden;
	}
}
.quiz__body {
	display: block;
	width: 100%;
	min-height: calc(100% - 41px);
	@include make-center;
	align-items: center;
	position: relative;
	@include media-breakpoint-down(lg) {
		min-height: calc(100% - 38px);
	}
}
.quiz__logo-wrap {
	position: fixed;
	left: 35px;
	top: 27px;
	z-index: 9;
	@include media-breakpoint-down(lg) {
		left: 17px;
		top: 28px;
	}
	@include media-breakpoint-down(sm) {
		left: 7px;
		top: 8px;
	}
}
.quiz__logo {
	width: 152px;
	@include media-breakpoint-down(lg) {
		width: 139px;
	}
	@include media-breakpoint-down(sm) {
		width: 100px;
	}
}
.quiz__question-wrap {
	width: 40%;
	max-width: 559px;
	text-align: center;
	color: $white;
	@include make-center;
	align-items: center;
	flex-direction: column;
	align-self: stretch;
	justify-content: flex-end;
	padding: 0 48px 115px 0;
	@include media-breakpoint-down(xl) {
		max-width: 514px;
		padding: 0 0 92px 51px;
	}
	@include media-breakpoint-down(lg) {
		max-width: 360px;
		padding: 0 0 45px 18px;
	}
	@include media-breakpoint-down(sm) {
		max-width: 320px;
		width: 100%;
		padding: 0;
	}
}
.quiz__statement {
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	margin: 0 0 19px;
	padding: 0 0 0 15px;
	font-family: $font-default-bold;
	@include media-breakpoint-down(xl) {
		padding: 0 0 0 6px;
	}
	@include media-breakpoint-down(lg) {
		font-size: 28px;
		line-height: 34.8px;
		margin: 0 0 19px;
		padding: 0 0 0 5px;
	}
	@include media-breakpoint-down(sm) {
		font-size: 21px;
		line-height: 24px;
		letter-spacing: 0;
		margin: 45px 0 13px;
		padding: 0 0 0 11px;

	}
}
.quiz__arrow-wrap {
	display: none;
	position: relative;
	width: 32px;
	margin: 0 auto 55px;
	transition: 0.4s ease-in-out;
	transition-property: margin height;
	@include media-breakpoint-down(sm) {
		display: block;
	}
}
.quiz__arrow-line {
	width: 22px;
	height: 2px;
	display: block;
	background: $white;
	position: absolute;
}
.quiz__arrow-line--left {
	bottom: 1px;
	transform: rotate(40deg);
	left: -5px;
}
.quiz__arrow-line--right {
	transform: rotate(-40deg);
	bottom: 1px;
	right: -2px;
}
.quiz__question {
	font-size: 27px;
	line-height: 27px;
	margin: 30px -20px 84px 0;
	font-style: italic;
	font-weight: 300;
	font-family: $font-default-italic;
	@include media-breakpoint-down(xl) {
		font-size: 26px;
		line-height: 24px;
		margin: 32px 0 85px;
		padding: 0 0 0 5px;
	}
	@include media-breakpoint-down(lg) {
		font-size: 20px;
		line-height: 24px;
		margin: 26px 0 68px;
	}
	@include media-breakpoint-down(sm) {
		font-size: 16px;
		line-height: 24px;
		padding: 0;
		margin: 14px 0 64px;
		transition: 0.4s ease-in-out;
		transition-property: margin;
	}
}
.quiz__status-single {
	color: $white;
	text-align: center;
	font-size: 16px;
	line-height: 37px;
	opacity: 0.2;
	@include media-breakpoint-down(lg) {
		width: calc(12.5% - 4px);
		margin-right: 4px;
	}
	@include media-breakpoint-down(sm) {
		width: calc(12.5% - 3px);
		margin-right: 3px;
		font-size: 13px;
		line-height: 29px;
	}
}
