//---------- slider
//------------------------------------------------------------------------------

.result__slider {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	max-width: 1144px;
	justify-content: space-between;
	flex-direction: column;
	height: 100vh;
	@include media-breakpoint-down(xl) {
		max-width: 827px;
	}
	@include media-breakpoint-down(lg) {
		max-width: 595px;

	}
	@include media-breakpoint-down(sm) {
		width: 100%;
		flex-direction: column-reverse;
		order: 2;
		height: auto;
		margin-top: 12px;
	}
}
.result__slider-wrap {
	position: relative;
}
.result__main-img-wrap {
	width: calc(100% - 40px);
	overflow: hidden;
	@include media-breakpoint-down(xl) {
		width: calc(100% - 46px);
	}
	@include media-breakpoint-down(lg) {
		width: calc(100% - 22px);
	}
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
}
.result__main-img-inner-wrap {
	display: flex;
	align-items: center;
	height: 100%;
}
.result__main-img {
	min-width: 100%;
	padding-bottom: 75.5%;
	background-position: bottom right;
	background-size: cover;
	background-repeat: no-repeat;
	@include media-breakpoint-down(sm) {
		min-width: 534px;
		height: 386px;
		padding-bottom: 0;
		background-position: -122px 0;
	}
}
.result__nav-img-wrap {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(5%);
	display: flex;
	height: 383px;
	width: 545px;
	@include media-breakpoint-down(xl) {
		height: 341px;
		right: -48px;
		transform: translateY(9%);
	}
	@include media-breakpoint-down(lg) {
		height: 255px;
		right: -177px;
	}
}
.result__nav-img {
	position: absolute;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.result__nav-img--1 {
	left: 0;
	width: 289px;
	bottom: 0;
	z-index: 2;
	background-image: url('/dist/assets/images/results/slider-img2.png');
	@include media-breakpoint-down(xl) {
		width: 264px;
	}
	@include media-breakpoint-down(lg) {
		width: 194px;
	}
}
.result__nav-img--2 {
	left: 258px;
	width: 287px;
	bottom: 103px;
	z-index: 1;
	background-image: url('/dist/assets/images/results/slider-img3.png');
	@include media-breakpoint-down(xl) {
		width: 256px;
		left: 245px;
		bottom: 120px;
	}
	@include media-breakpoint-down(lg) {
		width: 189px;
		left: 177px;
		bottom: 93px;
	}
}
.result__color-wrap {
	width: 100%;
	height: 106px;
	display: flex;
	@include media-breakpoint-down(xl) {
		height: 95px;
	}
	@include media-breakpoint-down(lg) {
		height: 69px;
	}
	@include media-breakpoint-down(sm) {
		height: 37px;
	}
}
.result__slider-nav-wrap {
	@include make-between;
	flex-direction: column;
	align-items: flex-end;
	height: 81px;
	padding-right: 34px;
	margin-top: 26px;
	position: relative;
	z-index: 9;
	@include media-breakpoint-down(xl) {
		height: 81px;
		padding-right: 43px;
		margin-top: 148px;
	}
	@include media-breakpoint-down(lg) {
		height: 69px;
		padding-right: 38px;
		margin-top: 119px;
	}
}
.result__nav-arow {
	border: 1px solid $white;
	width: 35px;
	height: 35px;
	@include make-center;
	align-items: center;
	border-radius: 50%;
	@include media-breakpoint-down(lg) {
		width: 29px;
		height: 28px;
	}
}
.result__single-color {
	width: 16.6%;
	height: 100%;
}
.result__single-color--1 {
	background: $result1-color-sample1;
}
.result__single-color--2 {
	background: $result1-color-sample2;
}
.result__single-color--3 {
	background: $result1-color-sample3;
}
.result__single-color--4 {
	background: $result1-color-sample4;
}
.result__single-color--5 {
	background: $result1-color-sample5;
}
.result__single-color--6 {
	background: $result1-color-sample6;
}
.mobile-hide {
	@include media-breakpoint-down(sm) {
		display: none;
	}
}


