<div class="home js-home-page">
	<div class="home__lang-wrap">
		<div class="explore explore--lang js-lang-dropdown">
			<figure class="explore__icon">
				<img src="assets/images/icons/leng.png" alt="icon">
			</figure>
			<div class="explore__explore-text">
				<div class="explore__lang-drop">
					<strong class="js-leng-current">EN</strong>
					<img class="explore__arow" src="assets/images/icons/arow.png" alt="icon">
				</div>
				<ul class="explore__list js-lang-list d-none">
					 <li data-lang="EN" class="js-leng-switch">EN</li>
					 <li data-lang="FR" class="js-leng-switch">FR</li>
				</ul>
			</div>
		</div>
		<div class="explore">
			<figure class="explore__icon">
				<img src="assets/images/icons/combined-shape.png" alt="icon">
			</figure>
			<div class="explore__explore-text ">
				<strong>EXPLORE</strong>
				<p>ColourFutures 2018</p>
			</div>
		</div>
	</div>
	<div class="home__content-wrap">
		<div class="home__logo-wrap">
			<figure class="home__logo">
				<img  src="assets/images/logo.png" width="157px" alt="logo">
			</figure>
			<div class="vertical-devider vertical-devider--home"></div>
			<figure class="home__logo home__logo--text">
				<p class="home__logo-text js-logo-text">powered by</p>
				<img src="assets/images/logo-2.png" alt="logo">
			</figure>
		</div>
		<div class="home__heding-wrap">
			<h1 class="home__title js-home-title">
			</h1>
			<p class="home__heding-text js-home-text">
			</p>
		</div>
		<div class="explore explore--start js-start-quiz">
			<figure class="explore__icon">
				<img src="assets/images/icons/combined-shape-black.png" alt="icon">
			</figure>
			<div class="explore__explore-text ">
				<strong>START</strong>
				<p>build your palette</p>
			</div>
		</div>
	</div>
</div>
